.container {
    display: flex;
    justify-content: space-between;
}



.table-container {
    width: 70%; 
    background-color: #f2f2f2; /* Couleur de fond du tableau */
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50; /* Couleur de fond de l'en-tête du tableau */
    color: white;
}
.form-container {
    width: 30%;
}
body{
    background-color: #F5F5DC;
}


